<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人展示主页</title>
</head>
<body>
<h1>这里是我的个人展示主页</h1>
<div class="row">
      	{% for dis in display.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-ima-top" src="{{ dis.image.url }}"  width=348px height=300px>
            <div class="card-body">
              <p class="card-text">{{ dis.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</body>
</html>